.logo{
    color: #000000 !important;
    font-weight: 650 !important;
    font-size: 7.5rem !important;
    letter-spacing: 7px;
    display: inline-block;
    font-family:  !important;
    font-style: initial !important;
}