.logo-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;       
    font-weight: 700;      
    letter-spacing: 4px;     
    text-transform: uppercase; 
    color: #1A1A1A;           
    margin: 0;                
}
.o  {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}